@section title{
    Who's Online?
}
@section scripts{
    <style>
#UL_1 {
    color: rgb(29, 33, 41);
    /*height: 248px;
    width: 204px;*/
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 124px;
    transform-origin: 102px 124px;
    border: 0px none rgb(29, 33, 41);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(29, 33, 41) none 0px;
    padding: 0px;
}/*#UL_1*/

#LI_2 {
    color: rgb(29, 33, 41);
    height: 32px;
    overflow-wrap: break-word;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 16px;
    transform-origin: 102px 16px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#LI_2*/

#DIV_3, #DIV_30 {
    color: rgb(29, 33, 41);
    height: 32px;
    overflow-wrap: break-word;
    text-align: left;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 16px;
    transform-origin: 102px 16px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#DIV_3, #DIV_30*/

#DIV_3:after, #DIV_30:after {
    clear: both;
    color: rgb(29, 33, 41);
    content: '"."';
    display: block;
    overflow-wrap: break-word;
    text-align: left;
    visibility: hidden;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 0px;
    transform-origin: 102px 0px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 0px / 0px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#DIV_3:after, #DIV_30:after*/

#DIV_4, #DIV_17, #DIV_31, #DIV_43, #DIV_54 {
    color: rgb(29, 33, 41);
    float: left;
    height: 20px;
    min-height: 1px;
    overflow-wrap: break-word;
    text-align: left;
    width: 16px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 8px 10px;
    transform-origin: 8px 10px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#DIV_4, #DIV_17, #DIV_31, #DIV_43, #DIV_54*/

#DIV_5, #DIV_18, #DIV_32, #DIV_44, #DIV_55 {
    color: rgb(29, 33, 41);
    height: 20px;
    overflow-wrap: break-word;
    text-align: left;
    width: 16px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 8px 10px;
    transform-origin: 8px 10px;
    border: 0px none rgb(64, 128, 255);
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#DIV_5, #DIV_18, #DIV_32, #DIV_44, #DIV_55*/

#I_6 {
    background-position: 0px -68px;
    color: rgb(29, 33, 41);
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    width: 16px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    background: rgba(0, 0, 0, 0) url("https://www.facebook.com/rsrc.php/v3/yL/r/813lkQNTW6p.png") no-repeat scroll 0px -68px / auto padding-box border-box;
    border: 0px none rgb(29, 33, 41);
    font: italic normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#I_6*/

#DIV_7, #DIV_34 {
    color: rgb(29, 33, 41);
    height: 32px;
    overflow-wrap: break-word;
    text-align: left;
    width: 180px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 94px 16px;
    transform-origin: 94px 16px;
    border: 0px none rgb(29, 33, 41);
    flex: 1 0 0px;
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
    overflow: hidden;
    padding: 0px 0px 0px 8px;
}/*#DIV_7, #DIV_34*/

#SPAN_8, #SPAN_21, #SPAN_25, #SPAN_35, #SPAN_39, #SPAN_47, #SPAN_58 {
    color: rgb(75, 79, 86);
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
}/*#SPAN_8, #SPAN_21, #SPAN_25, #SPAN_35, #SPAN_39, #SPAN_47, #SPAN_58*/

#DIV_9, #DIV_22, #DIV_36, #DIV_48, #DIV_59 {
    color: rgb(75, 79, 86);
    overflow-wrap: break-word;
    text-align: left;
    width: 180px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 90px 0px;
    transform-origin: 90px 0px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
}/*#DIV_9, #DIV_22, #DIV_36, #DIV_48, #DIV_59*/

#SPAN_10 {
    bottom: 386px;
    clip: rect(1px 1px 1px 1px);
    color: rgb(75, 79, 86);
    display: block;
    height: 1px;
    left: 402px;
    overflow-wrap: break-word;
    position: absolute;
    right: 203px;
    text-align: left;
    top: 30px;
    white-space: nowrap;
    width: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
    overflow: hidden;
}/*#SPAN_10*/

#DIV_11, #DIV_13, #DIV_50, #DIV_61 {
    color: rgb(75, 79, 86);
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    width: 180px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 90px 8px;
    transform-origin: 90px 8px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
}/*#DIV_11, #DIV_13, #DIV_50, #DIV_61*/

#SPAN_12, #SPAN_14 {
    color: rgb(75, 79, 86);
    overflow-wrap: break-word;
    text-align: left;
    unicode-bidi: isolate;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
}/*#SPAN_12, #SPAN_14*/

#LI_15 {
    color: rgb(29, 33, 41);
    height: 48px;
    overflow-wrap: break-word;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 32px;
    transform-origin: 102px 32px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
    padding: 16px 0px 0px;
}/*#LI_15*/

#DIV_16 {
    color: rgb(29, 33, 41);
    height: 48px;
    overflow-wrap: break-word;
    text-align: left;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 24px;
    transform-origin: 102px 24px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#DIV_16*/

#DIV_16:after {
    clear: both;
    color: rgb(29, 33, 41);
    content: '"."';
    display: block;
    overflow-wrap: break-word;
    text-align: left;
    visibility: hidden;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 0px;
    transform-origin: 102px 0px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 0px / 0px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#DIV_16:after*/

#I_19 {
    background-position: 0px -17px;
    color: rgb(29, 33, 41);
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    width: 16px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    background: rgba(0, 0, 0, 0) url("https://www.facebook.com/rsrc.php/v3/yL/r/813lkQNTW6p.png") no-repeat scroll 0px -17px / auto padding-box border-box;
    border: 0px none rgb(29, 33, 41);
    font: italic normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#I_19*/

#DIV_20 {
    color: rgb(29, 33, 41);
    height: 48px;
    overflow-wrap: break-word;
    text-align: left;
    width: 180px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 94px 24px;
    transform-origin: 94px 24px;
    border: 0px none rgb(29, 33, 41);
    flex: 1 0 0px;
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
    overflow: hidden;
    padding: 0px 0px 0px 8px;
}/*#DIV_20*/

#SPAN_23 {
    bottom: 338px;
    clip: rect(1px 1px 1px 1px);
    color: rgb(75, 79, 86);
    display: block;
    height: 1px;
    left: 402px;
    overflow-wrap: break-word;
    position: absolute;
    right: 203px;
    text-align: left;
    top: 78px;
    white-space: nowrap;
    width: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
    overflow: hidden;
}/*#SPAN_23*/

#DIV_24 {
    color: rgb(75, 79, 86);
    height: 48px;
    overflow-wrap: break-word;
    text-align: left;
    width: 180px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 90px 24px;
    transform-origin: 90px 24px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
}/*#DIV_24*/

#UL_26 {
    color: rgb(75, 79, 86);
    height: 48px;
    overflow-wrap: break-word;
    text-align: left;
    width: 180px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 90px 24px;
    transform-origin: 90px 24px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    margin: 0px;
    outline: rgb(75, 79, 86) none 0px;
    padding: 0px;
}/*#UL_26*/

#LI_27 {
    color: rgb(75, 79, 86);
    overflow-wrap: break-word;
    width: 180px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 90px 8px;
    transform-origin: 90px 8px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
}/*#LI_27*/

#LI_28 {
    color: rgb(75, 79, 86);
    height: 32px;
    overflow-wrap: break-word;
    width: 180px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 90px 16px;
    transform-origin: 90px 16px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
}/*#LI_28*/

#LI_29 {
    color: rgb(29, 33, 41);
    height: 32px;
    overflow-wrap: break-word;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 24px;
    transform-origin: 102px 24px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
    padding: 16px 0px 0px;
}/*#LI_29*/

#I_33 {
    background-position: 0px -17px;
    color: rgb(29, 33, 41);
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    width: 16px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    background: rgba(0, 0, 0, 0) url("https://www.facebook.com/rsrc.php/v3/ym/r/ShciRAwNI7U.png") no-repeat scroll 0px -17px / auto padding-box border-box;
    border: 0px none rgb(29, 33, 41);
    font: italic normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#I_33*/

#SPAN_37 {
    bottom: 274px;
    clip: rect(1px 1px 1px 1px);
    color: rgb(75, 79, 86);
    display: block;
    height: 1px;
    left: 402px;
    overflow-wrap: break-word;
    position: absolute;
    right: 203px;
    text-align: left;
    top: 142px;
    white-space: nowrap;
    width: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
    overflow: hidden;
}/*#SPAN_37*/

#DIV_38 {
    color: rgb(75, 79, 86);
    height: 32px;
    overflow-wrap: break-word;
    text-align: left;
    width: 180px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 90px 16px;
    transform-origin: 90px 16px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
}/*#DIV_38*/

#SPAN_40 {
    color: rgb(75, 79, 86);
    overflow-wrap: break-word;
    text-align: left;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
    padding: 0px 0px 0px 5px;
}/*#SPAN_40*/

#LI_41, #LI_52 {
    color: rgb(29, 33, 41);
    height: 20px;
    overflow-wrap: break-word;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 18px;
    transform-origin: 102px 18px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
    padding: 16px 0px 0px;
}/*#LI_41, #LI_52*/

#DIV_42, #DIV_53 {
    color: rgb(29, 33, 41);
    height: 20px;
    overflow-wrap: break-word;
    text-align: left;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 10px;
    transform-origin: 102px 10px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#DIV_42, #DIV_53*/

#DIV_42:after, #DIV_53:after {
    clear: both;
    color: rgb(29, 33, 41);
    content: '"."';
    display: block;
    overflow-wrap: break-word;
    text-align: left;
    visibility: hidden;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 0px;
    transform-origin: 102px 0px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 0px / 0px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#DIV_42:after, #DIV_53:after*/

#I_45 {
    background-position: 0px -34px;
    color: rgb(29, 33, 41);
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    width: 16px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    background: rgba(0, 0, 0, 0) url("https://www.facebook.com/rsrc.php/v3/ym/r/ShciRAwNI7U.png") no-repeat scroll 0px -34px / auto padding-box border-box;
    border: 0px none rgb(29, 33, 41);
    font: italic normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#I_45*/

#DIV_46, #DIV_57 {
    color: rgb(29, 33, 41);
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    width: 180px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 94px 8px;
    transform-origin: 94px 8px;
    border: 0px none rgb(29, 33, 41);
    flex: 1 0 0px;
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
    overflow: hidden;
    padding: 0px 0px 0px 8px;
}/*#DIV_46, #DIV_57*/

#SPAN_49 {
    bottom: 226px;
    clip: rect(1px 1px 1px 1px);
    color: rgb(75, 79, 86);
    display: block;
    height: 1px;
    left: 402px;
    overflow-wrap: break-word;
    position: absolute;
    right: 203px;
    text-align: left;
    top: 190px;
    white-space: nowrap;
    width: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
    overflow: hidden;
}/*#SPAN_49*/

#A_51 {
    color: rgb(54, 88, 153);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    column-rule-color: rgb(54, 88, 153);
    border: 0px none rgb(54, 88, 153);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(54, 88, 153) none 0px;
}/*#A_51*/

#I_56 {
    background-position: 0px 0px;
    color: rgb(29, 33, 41);
    display: inline-block;
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    width: 16px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 8px 8px;
    transform-origin: 8px 8px;
    background: rgba(0, 0, 0, 0) url("https://www.facebook.com/rsrc.php/v3/yL/r/813lkQNTW6p.png") no-repeat scroll 0px 0px / auto padding-box border-box;
    border: 0px none rgb(29, 33, 41);
    font: italic normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
}/*#I_56*/

#SPAN_60 {
    bottom: 190px;
    clip: rect(1px 1px 1px 1px);
    color: rgb(75, 79, 86);
    display: block;
    height: 1px;
    left: 402px;
    overflow-wrap: break-word;
    position: absolute;
    right: 203px;
    text-align: left;
    top: 226px;
    white-space: nowrap;
    width: 1px;
    word-wrap: break-word;
    column-rule-color: rgb(75, 79, 86);
    perspective-origin: 0.5px 0.5px;
    transform-origin: 0.5px 0.5px;
    border: 0px none rgb(75, 79, 86);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(75, 79, 86) none 0px;
    overflow: hidden;
}/*#SPAN_60*/

#LI_62 {
    color: rgb(29, 33, 41);
    overflow-wrap: break-word;
    visibility: hidden;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(29, 33, 41);
    perspective-origin: 102px 16px;
    transform-origin: 102px 16px;
    border: 0px none rgb(29, 33, 41);
    font: normal normal normal normal 12px / 16.08px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(29, 33, 41) none 0px;
    padding: 16px 0px 0px;
}/*#LI_62*/

#DIV_63 {
    color: rgb(64, 128, 255);
    height: 16px;
    overflow-wrap: break-word;
    text-align: left;
    visibility: hidden;
    width: 204px;
    word-wrap: break-word;
    column-rule-color: rgb(64, 128, 255);
    perspective-origin: 102px 8px;
    transform-origin: 102px 8px;
    border: 0px none rgb(64, 128, 255);
    font: normal normal normal normal 12px / 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(64, 128, 255) none 0px;
}/*#DIV_63*/


    </style>
}
<section id="demos">
    <div class="owl-carousel">
        <div class="owl-item" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <a href="https://twitter.com/easportsfifa" target="_blank">
                    <img src="~/Content/images/TOuN4QWx.jpg" style="height:80px;" />
                </a>
            </div>
        </div><div class="owl-item" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <h4>2</h4>
            </div>
        </div><div class="owl-item" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <h4>3</h4>
            </div>
        </div><div class="owl-item" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <h4>4</h4>
            </div>
        </div><div class="owl-item" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <h4>5</h4>
            </div>
        </div><div class="owl-item" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <h4>6</h4>
            </div>
        </div><div class="owl-item" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <h4>7</h4>
            </div>
        </div><div class="owl-item active" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <h4>8</h4>
            </div>
        </div><div class="owl-item active" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <h4>9</h4>
            </div>
        </div><div class="owl-item active" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <h4>10</h4>
            </div>
        </div><div class="owl-item active" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <h4>11</h4>
            </div>
        </div><div class="owl-item active" style="width: 178px; margin-right: 20px;">
            <div class="item">
                <h4>12</h4>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <h2>Who's Live Right Now?</h2>
    <p>Contextual classes can be used to color table rows or table cells. The classes that can be used are: .active, .success, .info, .warning, and .danger.</p>
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><img src="~/Content/images/pic1.jpg" style="width:200px;" /></td>
                <td>
                    <div id="profile">
                        <ul id="UL_1">
                            <li id="LI_2">
                                <div id="DIV_3">
                                    <div id="DIV_4">
                                        <div id="DIV_5">
                                            <i id="I_6"></i>
                                        </div>
                                    </div>
                                    <div id="DIV_7">
                                        <span id="SPAN_8"></span>
                                        <div id="DIV_9">
                                            <span id="SPAN_10">Phones</span>
                                        </div>
                                        <div id="DIV_11">
                                            <span id="SPAN_12">(714) 235-1024</span>
                                        </div>
                                        <div id="DIV_13">
                                            <span id="SPAN_14">(949) 296-5389</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="LI_15">
                                <div id="DIV_16">
                                    <div id="DIV_17">
                                        <div id="DIV_18">
                                            <i id="I_19"></i>
                                        </div>
                                    </div>
                                    <div id="DIV_20">
                                        <span id="SPAN_21"></span>
                                        <div id="DIV_22">
                                            <span id="SPAN_23">Address</span>
                                        </div>
                                        <div id="DIV_24">
                                            <span id="SPAN_25"></span>
                                            <ul id="UL_26">
                                                <li id="LI_27">
                                                    16292 Arlington Ln
                                                </li>
                                                <li id="LI_28">
                                                    Huntington Beach, CA, United States 92649
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="LI_29">
                                <div id="DIV_30">
                                    <div id="DIV_31">
                                        <div id="DIV_32">
                                            <i id="I_33"></i>
                                        </div>
                                    </div>
                                    <div id="DIV_34">
                                        <span id="SPAN_35"></span>
                                        <div id="DIV_36">
                                            <span id="SPAN_37">Social Links</span>
                                        </div>
                                        <div id="DIV_38">
                                            <span id="SPAN_39">ehalsey@messengeruser.com<span id="SPAN_40">(Windows Live Messenger)</span></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="LI_41">
                                <div id="DIV_42">
                                    <div id="DIV_43">
                                        <div id="DIV_44">
                                            <i id="I_45"></i>
                                        </div>
                                    </div>
                                    <div id="DIV_46">
                                        <span id="SPAN_47"></span>
                                        <div id="DIV_48">
                                            <span id="SPAN_49">Website</span>
                                        </div>
                                        <div id="DIV_50">
                                            <a href="https://l.facebook.com/l.php?u=http%3A%2F%2Fwww.a-cto.com%2F&amp;h=ATOU3gHMqtsxMEyFg2_ypbmHZb0nb-sWX9Ei28KvWMaD8EFHqPjibJQImd00c7toRtEivefF4Rw4E_nEhW6wcgq3mRlV-WfW89d7IeUsGgjKqxFFbP_WggziX7-aHmfP-LSj&amp;s=1" rel="nofollow noopener me" id="A_51">http://www.a-cto.com</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="LI_52">
                                <div id="DIV_53">
                                    <div id="DIV_54">
                                        <div id="DIV_55">
                                            <i id="I_56"></i>
                                        </div>
                                    </div>
                                    <div id="DIV_57">
                                        <span id="SPAN_58"></span>
                                        <div id="DIV_59">
                                            <span id="SPAN_60">Birthday</span>
                                        </div>
                                        <div id="DIV_61">
                                            July 3, 1970
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="LI_62">
                                <div id="DIV_63">
                                    Edit your contact and basic info
                                </div>
                            </li>
                        </ul>
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div id="profile">
                        <ul id="UL_1">
                            <li id="LI_2">
                                <div id="DIV_3">
                                    <div id="DIV_4">
                                        <div id="DIV_5">
                                            <i id="I_6"></i>
                                        </div>
                                    </div>
                                    <div id="DIV_7">
                                        <span id="SPAN_8"></span>
                                        <div id="DIV_9">
                                            <span id="SPAN_10">Phones</span>
                                        </div>
                                        <div id="DIV_11">
                                            <span id="SPAN_12">(714) 235-1024</span>
                                        </div>
                                        <div id="DIV_13">
                                            <span id="SPAN_14">(949) 296-5389</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="LI_15">
                                <div id="DIV_16">
                                    <div id="DIV_17">
                                        <div id="DIV_18">
                                            <i id="I_19"></i>
                                        </div>
                                    </div>
                                    <div id="DIV_20">
                                        <span id="SPAN_21"></span>
                                        <div id="DIV_22">
                                            <span id="SPAN_23">Address</span>
                                        </div>
                                        <div id="DIV_24">
                                            <span id="SPAN_25"></span>
                                            <ul id="UL_26">
                                                <li id="LI_27">
                                                    16292 Arlington Ln
                                                </li>
                                                <li id="LI_28">
                                                    Huntington Beach, CA, United States 92649
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="LI_29">
                                <div id="DIV_30">
                                    <div id="DIV_31">
                                        <div id="DIV_32">
                                            <i id="I_33"></i>
                                        </div>
                                    </div>
                                    <div id="DIV_34">
                                        <span id="SPAN_35"></span>
                                        <div id="DIV_36">
                                            <span id="SPAN_37">Social Links</span>
                                        </div>
                                        <div id="DIV_38">
                                            <span id="SPAN_39">ehalsey@messengeruser.com<span id="SPAN_40">(Windows Live Messenger)</span></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="LI_41">
                                <div id="DIV_42">
                                    <div id="DIV_43">
                                        <div id="DIV_44">
                                            <i id="I_45"></i>
                                        </div>
                                    </div>
                                    <div id="DIV_46">
                                        <span id="SPAN_47"></span>
                                        <div id="DIV_48">
                                            <span id="SPAN_49">Website</span>
                                        </div>
                                        <div id="DIV_50">
                                            <a href="https://l.facebook.com/l.php?u=http%3A%2F%2Fwww.a-cto.com%2F&amp;h=ATOU3gHMqtsxMEyFg2_ypbmHZb0nb-sWX9Ei28KvWMaD8EFHqPjibJQImd00c7toRtEivefF4Rw4E_nEhW6wcgq3mRlV-WfW89d7IeUsGgjKqxFFbP_WggziX7-aHmfP-LSj&amp;s=1" rel="nofollow noopener me" id="A_51">http://www.a-cto.com</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="LI_52">
                                <div id="DIV_53">
                                    <div id="DIV_54">
                                        <div id="DIV_55">
                                            <i id="I_56"></i>
                                        </div>
                                    </div>
                                    <div id="DIV_57">
                                        <span id="SPAN_58"></span>
                                        <div id="DIV_59">
                                            <span id="SPAN_60">Birthday</span>
                                        </div>
                                        <div id="DIV_61">
                                            July 3, 1970
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li id="LI_62">
                                <div id="DIV_63">
                                    Edit your contact and basic info
                                </div>
                            </li>
                        </ul>
                    </div>

                </td>
                <td><img src="~/Content/images/pic1.jpg" style="width:200px;" /></td>
            </tr>
        </tbody>
    </table>
</div>
